// Base
$warna-dasar: #fa8072;
h1 {
    color: $warna-dasar;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
}

// Built-in Modules: Color
/* adjust-color($color,
    $red: null, $green: null, $blue:null,
    $hue:null, $saturation:null, $lightness:null,
    $whiteness:null, $blackness:null,
    $alpha: null)
*/
h1 {
    // color: adjust-color($color: $warna-dasar, $green: 100, $blue: 100, $red: -50);
}

// adjust-hue($color, $degree);
h1 {
    // color: adjust-hue($color: $warna-dasar, $degrees: 180deg);
}

// complement($color)
h1 {
    // color: complement($color: $warna-dasar);
}

// darken($color, $amount)
h1 {
    // color: darken($color: $warna-dasar, $amount: 20%);
}

// lighten($color, $amount)
h1 {
    // color: lighten($color: $warna-dasar, $amount: 20%);
}

// saturate($color, $amount)
h1 {
    // color: saturate($color: $warna-dasar, $amount: 10%);
}

// desaturate($color, $amount)
h1 {
    // color: desaturate($warna-dasar, 0%);
}

// greyscale($color)
h1 {
    // color: grayscale($warna-dasar);
}

// mix($color1, $color2, $weight: 50%)
h1 {
    // color: mix($warna-dasar, blue, 80%);
}

// fade-in($color, $amount)
h1 {
    // color: fade-in(rgba(250, 128, 114, 0.2), 0.5);
}

// fade-out($color, $amount)
h1 {
    color: fade-out($warna-dasar, 0.4);
}